{% extends "base.html" %}

{% block links %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "register" %}"> Register </a>
    </li> 
{% endblock links %}

{% block content %}
<div class="container-fluid ps-4 pe-4 mt-4">
    <form class="d-flex justify-content-center align-items-center  flex-column "  method='POST'> 
        {% csrf_token %}
        {{ form.as_table }}
        <button class=" mt-4 btn btn-primary" type="submit"> login </button>
    </form>
</div>
{% endblock content %}