{% extends "base.html" %}

{% block links %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "previousOrders" %}"> Previous Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "createPizza" %}"> Create A Pizza </a>
    </li>  
{% endblock links %}

{% block content %}
    <div class="ms-3">
    <h1> {{ Messege }} </h1>
    <p class="fw-bold"> Your order will be delivered to: <p>{{ order.deliveryDetails.address }}</p> <span class="fw-bold">Ordered On:</span>   <p class="ms-4">{{ order.orderDate }}</p> </p>
    <p> <p class="fw-bold">Pizza Ordered :</p>{{ order.pizza }} </p>
    </div>
{% endblock content %}