{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>User Signup</h1>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="mb-3">
            {{ form.username.errors }}
            <p>Email</p>
            {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.password1.errors }}
           <p> {{ form.password1.label }}</p>
            {{ form.password1 }}
        </div>
        <div class="mb-3">
            {{ form.password2.errors }}
           <p> {{ form.password2.label }}</p>
            {{ form.password2 }}
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
<div class="container mt-2">
    <p>Already have an account? </p>
    <p>Login <a href="{% url "login" %}"> here </a></p>
</div>
{% endblock content %}
